@CHARSET "ISO-8859-1";

.centralizar {
    position:relative;
    overflow:hidden;
}
.centralizar > div {
    float:left;
    position:fixed;
    left:50%;
}
.top-center {
    /*display:none;*/
    float:left;
    position:relative;
    left:-50%;
    padding:4px;
}