* {
    color: #222;
    display: block;
    white-space: nowrap;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    background-color: #f2f2f2;
    min-height: 100%;
    margin: 0;
}

title {
    display: none;
}

a {
    width: min-content;
    margin: 0 auto;
    text-decoration: none;
}

input {
    border: solid 1px #ccc;
    border-radius: 2px;
    height: 32px;
    width: calc(100% - 18px);
    padding: 4px 8px;
    outline: none;

    &[type="submit"] {
        width: 100%;
        cursor: pointer;
    }

    &:not(:last-child) {
        margin-bottom: 24px;
    }

    &:focus {
        border: solid 1px #222;
    }
}

.login {
    padding: 24px;
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 2px;
    margin: auto;
    margin-top: 128px;
    width: 450px;
    max-width: 80%;
}

.menu {
    width: 100%;
    height: 64px;
    background-color: #ccc;
    padding: 0 64px;

    ul {
        padding: 0;
        margin: 0;
        width: min-content;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr) auto;

        li {
            a {
                padding: 0 24px;
                text-transform: uppercase;
            }

            &:hover {
                background-color: #bbb;
            }

            &.active {
                background-color: #ddd;
            }
        }
    }
}

.message {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: min-content;
    border-radius: 2px;
    padding: 8px 16px;

    &.error {
        background-color: #FA312B;
    }

    &.success {
        background-color: #41CA4A;
    }

    p {
        text-align: center;
    }
}